body {
  background-color: #24305e;
  color: #f76c6c;
}

#demobox1 {
  background-color: #a8d0e6;
  width: 500px;
  height: 500px;
}
#demobox2 {
  background-color: #f76c6c;
  width: 500px;
  height: 500px;
}
#demobox3 {
  background-color: #374785;
  width: 500px;
  height: 500px;
}
#demobox4 {
  background-color: #f8e9a1;
  width: 500px;
  height: 500px;
}
